*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/orangeBackground.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.titleContainer{
    background-color: #fa4402;
    border-radius: 5px;
}
.shadow{
    box-shadow: 10px 10px 10px 5px #cccccc !important;
}
.welcome{
    background-color: #fa4402;
    height: 70%;
    width: 100%;
    text-align: center;
    font-size: larger;
}
.labelInputContainer{
    text-align: left;
}
#mainContainer{
    text-align: center;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a{
    color: black;
    margin-top: 0.5rem;
}
a:hover{
    cursor: pointer;
}
.labelMessageDataValidator{
    text-align: center;
}